<h1 class="ui header white">Modifier mon mot de passe</h1>
{{#authUser}}
<div class="ui segment">
	<form method="post" class="ui form validForm" action="/parent/editPassword">
	<input type="hidden" name="id" value="{{id}}">
		<div>
			<div class="ui form">
				<label>*Ancien mot de passe : </label>
				<input type="password" required="required" name="oldPassword" value="">
			</div class="ui form">
			<div class="erreur">{{#erreurPass}}{{.}}{{/erreurPass}}</div>
			<div class="ui form">
				<label>*Nouveau mot de passe : </label>
				<input type="password" required="required" name="newPassword" value="">
			</div>
		</div>
		<button class="ui button" type="submit">Valider</button>
	</form>
</div>
{{/authUser}}