{{> /include/header}}
{{#authUser}}

<div v-if="authUser.authorities[0].authority=='ROLE_PARENT'">
	<div v-if="infoAff==true">
		<div onload="edit()">
		</div>
	</div>
	
	<div v-if="modPass==true">
		<div onload="editPassword()">
		</div>
	</div>
	<div class="dispocolonne">
		<div class="colonne">
			<div class="white boxprofil">
				<h1>Profil de {{#authResponsable.civilite}}{{.}}{{/authResponsable.civilite}} {{#authResponsable.prenom}}{{.}}{{/authResponsable.prenom}} {{#authResponsable.nom}}{{.}}{{/authResponsable.nom}}</h1>
				<p>
					Adresse courriel : {{#authResponsable.email}}{{.}}{{/authResponsable.email}}
				</p>
				<p>
					Adresse  : {{#authResponsable.adresse}}{{.}}{{/authResponsable.adresse}}
				</p>
				<p>
					Ville : {{#authResponsable.ville}}{{.}}{{/authResponsable.ville}}
				</p>
				<p>
					Code Postal : {{#authResponsable.code_postal}}{{.}}{{/authResponsable.code_postal}}
				</p>
				<p v-if="authResponsable.quotient_familial!=null">
					Quotient familial : {{#authResponsable.quotient_familial}}{{.}}{{/authResponsable.quotient_familial}}
				</p>
				<p>
					Numéro de Téléphone : {{#authResponsable.tel1}}{{.}}{{/authResponsable.tel1}}
				</p>
				<p v-if="authResponsable.tel2!='' && authResponsable.tel2!=null">
					Numéro de téléphone 2 : {{#authResponsable.tel2}}{{.}}{{/authResponsable.tel2}}
				</p>
				<p v-if="authResponsable.tel3!='' && authResponsable.tel3!=null">
					Numéro de téléphone 3 : {{#authResponsable.tel3}}{{.}}{{/authResponsable.tel3}}
				</p>
			</div>
			<div class="ui modal edit">
				<div class="content">
					{{> /parent/signup}}
				</div>
			</div>
			<div class="ui modal editPassword">
				<div class="content">
					{{> /parent/newPassword}}
				</div>
			</div>
			<div class="ui modal editLogin">
				<div class="content">
					{{> /parent/newLogin}}
				</div>
			</div>
			<div class="ui modal insEleve">
				<div class="content">
					{{> /parent/inscrEleve}}
				</div>
			</div>
			<div class="ui modal addEleve">
				<div class="content">
					{{> /parent/form}}
				</div>
			</div>
			<div class="ui modal insPar">
				<div class="content">
					{{> /parent/inscPar}}
				</div>
			</div>
			<div class="colonne">
				<h2 class="white">Actions sur le profil</h2>
				<a class="ui orange button" onclick="addEleve()">Ajouter un enfant</a>
				<a class="ui orange button" onclick="insEleve()">Inscrire mon enfant à un cours</a>
				<a class="ui orange button" onclick="insPar()">S'inscrire soi meme en tant qu'eleve</a>
				<a class="ui blue button" onclick="edit()">Modifier mes informations</a>
				<a class="ui blue button" onclick="editLogin()">Modifier mon login</a>
				<div class="erreur">{{#erreurLogin}}{{.}}{{/erreurLogin}}</div>
				<a class="ui blue button" onclick="editPassword()">Modifier mon mot de passe</a>
				<div class="erreur">{{#erreurPass}}{{.}}{{/erreurPass}}</div>
				<a href="./parent/delete/" class="ui red button">Suprimer son compte :(</a>
			</div>
		</div>
		{{#authResponsable.eleves.0}}
		<div class="center">
			<h1>Informations sur les enfants</h1>
			
			{{#authResponsable.eleves}}
				<div class="white boxprofil boxenfant">
					<h2>{{prenom}} {{nom}}</h2>
					<p>
						Sexe : {{#sexe}}{{.}}{{/sexe}}
					</p>
					<p>
						Date de naissance : {{dateNaiss}}
					</p>
				</div>
			{{/authResponsable.eleves}}
		</div>
		{{/authResponsable.eleves.0}}
	</div>


</div>
<div class="white boxprofil" v-if="authUser.authorities[0].authority=='ROLE_ELEVE'">
	<h1>Profil de {{#authEleve.prenom}}{{.}}{{/authEleve.prenom}} {{#authEleve.nom}}{{.}}{{/authEleve.nom}}</h1>
	<p>
		Date de naissance : {{#authEleve.dateNaiss}}{{.}}{{/authEleve.dateNaiss}}
	</p>
	<p>
		Parent : {{#authEleve.responsable}}{{nom}} {{prenom}}{{/authEleve.responsable}}
	</p>
</div>
	{{#msg}}
		<div class="ui red icon message" id="delete">
		  <i class="trash icon"></i>
		  <div class="content">
		    <div class="header">
		      {{title}}
		    </div>
		    <p>{{content}}</p>
		    <p>
		    {{#links}}
		    	<a class="ui red button" href="./{{href}}">{{libelle}}</a>
		    {{/links}}
		    </p>
		  </div>
		</div>
	{{/msg}}
{{/authUser}}

<script>
{{{edit}}}
{{{editPassword}}}
function edit(){
	$('.ui.modal.edit')
	  .modal('show')
	;
};
function editPassword(){
	$('.ui.modal.editPassword')
	  .modal('show')
	;
};
function editLogin(){
	$('.ui.modal.editLogin')
	  .modal('show')
	;
};
function insEleve(){
	$('.ui.modal.insEleve')
	  .modal('show')
	;
};
function addEleve(){
	$('.ui.modal.addEleve')
	.modal('show')
	;
};
function insPar(){
	$('.ui.modal.insPar')
	.modal('show')
	;
};
</script>

{{> /include/footer}}
<script>
$('#standard_calendar2').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
	});
$('#standard_calendar').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
	});
</script>