<h1 class="ui header white">Créer un cours <%coursEdit.libelle%></h1>
<form class="ui form" method="post" action="./cours/new">
	
	{{#cour}}
	<div class="field">
		<label>Nom du cours</label>
		<input type="text" name="libelle" placeholder="Nom du cours" v-bind:value="coursEdit.libelle" required>
	</div>
	
	<div class="field">
		<label>L'âge minimum</label>
		<input type="number" name="ageMin" placeholder="L'âge minimum" v-bind:value="coursEdit.ageMin" required>
	</div>
	
	<div class="field">
		<label>L'âge maximum</label>
		<input type="number" name="ageMAx" placeholder="L'âge maximum" v-bind:value="coursEdit.ageMAx" required>
	</div>
	
	<div class="field">
		<label>nombre de place</label>
		<input type="number" name="nbPlace" placeholder="nombre de place" v-bind:value="coursEdit.nbPlace" required>
	</div>
	
	<div class="field">
		<label>Professeur</label>
		<select class="ui selection dropdown" required name="prof">
		<option disabled selected hidden v-bind:value="idProf.id"><%idProf.prenom%> <%idProf.nom%></option>
		{{#profs}}
			<option value="{{#id}}{{.}}{{/id}}">{{prenom}} {{nom}}</option>
		{{/profs}}
		</select>
	</div>
	
	<div class="field">
		<label>Type de cours</label>
		<select class="ui selection dropdown" required name="typeCour">
		<option disabled selected hidden v-bind:value="idTypeCours.id"><%idTypeCours.libelle%></option>
		{{#typeCours}}
			<option value="{{#id}}{{.}}{{/id}}">{{libelle}}</option>
		{{/typeCours}}
		</select>
	</div>
	
	<input type="hidden" name="id" v-bind:value="coursEdit.id">
	
	<button class="ui button" type="submit">Valider</button>
	{{/cour}}
	
</form>