{{>/include/header}}

<form class="ui form" method="post" action="/cours/new">
	
	{{#cour}}
	<div class="field">
		<label>Nom du cours</label>
		<input type="text" name="libelle" placeholder="Nom du cours" value="{{#libelle}}{{.}}{{/libelle}}" required>
	</div>
	
	<div class="field">
		<label>L'âge minimum</label>
		<input type="number" name="ageMin" placeholder="L'âge minimum" value="{{#ageMin}}{{.}}{{/ageMin}}" required>
	</div>
	
	<div class="field">
		<label>L'âge maximum</label>
		<input type="number" name="ageMAx" placeholder="L'âge maximum" value="{{#ageMAx}}{{.}}{{/ageMAx}}" required>
	</div>
	
	<input type="hidden" name="id" value="{{#id}} {{.}} {{/id}}">
	
	<button class="ui button" type="submit">Valider</button>
	{{/cour}}
	
</form>

{{>/include/footer}}