
{{>/include/header}}

<h1 class="ui header white">Créer un cours</h1>
<form class="ui form" method="post" action="./cours/new">
	
	{{#cour}}
	<div class="field">
		<label>Nom du cours</label>
		<input type="text" name="libelle" placeholder="Nom du cours" value="{{#libelle}}{{.}}{{/libelle}}" required>
	</div>
	
	<div class="field">
		<label>L'âge minimum</label>
		<input type="number" name="ageMin" placeholder="L'âge minimum" value="{{#ageMin}}{{.}}{{/ageMin}}" required>
	</div>
	
	<div class="field">
		<label>L'âge maximum</label>
		<input type="number" name="ageMAx" placeholder="L'âge maximum" value="{{#ageMAx}}{{.}}{{/ageMAx}}" required>
	</div>
	
	<div class="field">
		<label>nombre de place</label>
		<input type="number" name="nbPlace" placeholder="nombre de place" value="{{#nbPlace}}{{.}}{{/nbPlace}}" required>
	</div>
	
	<div class="field">
		<label>Professeur</label>
		<select class="ui selection dropdown" required name="prof">
		<option disabled selected hidden value="{{#prof}}{{.}}{{/prof}}">{{#prof.prenom}}{{.}}{{/prof.prenom}} {{#prof.nom}}{{.}}{{/prof.nom}}</option>
		{{#profs}}
			<option value="{{#id}}{{.}}{{/id}}">{{prenom}} {{nom}}</option>
		{{/profs}}
		</select>
	</div>
	
	<div class="field">
		<label>Type de cours</label>
		<select class="ui selection dropdown" required name="typeCour">
		<option disabled selected hidden value="{{#typeCour}}{{.}}{{/typeCour}}">{{#typeCour.libelle}}{{.}}{{/typeCour.libelle}}</option>
		{{#typeCours}}
			<option value="{{#id}}{{.}}{{/id}}">{{libelle}}</option>
		{{/typeCours}}
		</select>
	</div>
	
	<input type="hidden" name="id" value="{{#id}}{{.}}{{/id}}">
	
	<button class="ui button" type="submit">Valider</button>
	{{/cour}}
	
</form>



{{>/include/footer}}