{{>/include/header}}

<h1>Liste de tous les cours</h1>

<a href="./cours" class="ui icon button">
	<i class="angle left icon"></i>
</a>
<button class="ui labeled green icon button" onclick="modalfunction('newcours')" @click="popupEditCours('', '', '')">
	<i class="plus icon"></i>
	Nouveau Cours
</button>

<table class="ui single line table">
	<thead>
		<tr>
	    	<th>Nom du cours</th>
	    	<th>Professeur</th>
	    	<th>type de cours</th>
	    	<th>action</th>
    	</tr>
	</thead>
	
	<tbody>
		<tr v-for="cour in cours">
			<td><%cour.libelle%></td>
			<td><%cour.prof.prenom%> <%cour.prof.nom%></td>
			<td><%cour.typeCour.libelle%></td>
			<td>
				<a onclick="modalfunction('newcours')" @click="popupEditCours(cour, cour.prof, cour.typeCour)" class="circular ui blue icon button"><i class="edit icon"></i></a>
				<a :href="'./cours/' + cour.id" class="circular ui black icon button"><i class="file icon"></i></a>
				<a onclick="modalfunction('deletecours')" @click="popupDeleteCours(cour)" class="circular ui red icon button"><i class="trash icon"></i></a>
			</td>
		</tr>
	</tbody>
</table>

<div class="ui modal newcours">
	<div class="content">
		{{>/cours/formCours}}
	</div>
</div>

<div class="ui modal editcours">
	<div class="content">
		{{>/cours/formCours}}
	</div>
</div>

<div class="ui modal deletecours">
	<div class="content">
		{{>/cours/deletePopup}}
	</div>
</div>

{{>/include/footer}}
<script>
function modalfunction(type){
	$('.ui.modal.' + type)
	  .modal('show')
	;
};
</script>