<h1 class="ui header white">Créer un compte professeur</h1>
<div class="ui segment black">
	<form class="ui form" method="post" action="/profs/new">
		
		{{#prof}}
		<div class="field">
			<label>*Login (nom d'utilisateur) :</label>
			<input type="text" required="required" name="login" value="">
		</div>
		<div class="erreur">{{#erreurLogin}}{{.}}{{/erreurLogin}}</div>
		
		<div class="field">
			<label>*Nom :</label>
			<input type="text" name="nom" placeholder="Nom" value="{{#nom}}{{.}}{{/nom}}" required>
		</div>
		<div class="erreur">{{#erreurNom}}{{.}}{{/erreurNom}}</div>
		
		<div class="field">
			<label>*Prénom :</label>
			<input type="text" name="prenom" placeholder="Prénom" value="{{#prenom}}{{.}}{{/prenom}}" required>
		</div>
		<div class="erreur">{{#erreurPrenom}}{{.}}{{/erreurPrenom}}</div>
		
		<div class="field">
			<label>*Adresse courriel :</label>
			<input type="email" name="email" placeholder="Email" value="{{#email}}{{.}}{{/email}}" required>
		</div>
		<div class="erreur">{{#erreurEmail}}{{.}}{{/erreurEmail}}</div>
		
		<div class="field">
			<label>*Mot de passe (au minimum 8 caractères) :</label>
			<input type="password" required="required" name="password" value="">
		</div>
		<div class="erreur">{{#erreurPassword}}{{.}}{{/erreurPassword}}</div>
		
		<input type="hidden" name="id" value="{{#id}}{{.}}{{/id}}">
		
		<button class="ui button" type="submit">Valider</button>
		{{/prof}}
		
	</form>
</div>