{{>/include/header}}

<h1>Liste de tous les membres</h1>

<a href="/" class="ui purple icon button">
	<i class="angle left icon"></i>
</a>

<button class="ui labeled green icon button" onclick="newprof()">
	<i class="user plus icon"></i>
	Ajouter un professeur
</button>

<button class="ui labeled green icon button" onclick="signup()">
	<i class="user plus icon"></i>
	Ajouter un responsable
</button>

<table class="ui celled table">
	<thead>
	    <th>Professeurs</th>
	    <th>Parents</th>
	    <th>Élèves</th>
	</thead>
	
	<tbody>
		<tr class="top aligned">
			<td>
			{{#profs}}
				<p><a class="ui item" @click="confMessageOption({{id}}, 'prof')">{{prenom}} {{nom}}</a></p>
			{{/profs}}
			</td>
			<td>
			{{#responsables}}
				<p><a class="ui item" @click="confMessageOption({{id}}, 'parent')">{{prenom}} {{nom}}</a></p>
			{{/responsables}}
			</td>
			<td>
			{{#eleves}}
				<p><a class="ui item" @click="confMessageOption({{id}}, 'eleve')">{{prenom}} {{nom}}</a></p>
			{{/eleves}}
			</td>
		</tr>
	</tbody>
</table>

<div v-if="messageOption" class="ui message">
	<div class="header">
	</div>
	<button class="circular ui icon button"><i class="eye icon"></i></button>
	<a v-if="unRole == 'prof' || unRole == 'parent'" :href="'/responsables/edit/' + messageOption" class="circular ui blue icon button"><i class="ui edit icon"></i></a>
	<button v-if="unRole == 'parent'" class="ui labeled green icon button" onclick="neweleve()">
		<i class="user plus icon"></i>
		Ajouter un élève
	</button>
	<a v-if="unRole == 'eleve'" :href="'/factures/' + messageOption" class="circular ui icon button"><i class="euro sign icon"></i> Facture</a>
	<a v-if="unRole == 'eleve'" :href="'/paiements/new/' + messageOption" class="circular ui icon button"><i class="euro sign icon"></i> Paiement</a>
	<button class="circular ui red icon button" @click="popupDelete(messageOption)"><i class="ui trash icon"></i></button>
	<button v-if="messageOption.suspendre == true && (unRole == 'prof' || unRole == 'parent')" class="circular ui red icon button" @click="popupSuspendre(messageOption)"><i class="user slash icon"></i></button>
	<button v-if="messageOption.suspendre == false && (unRole == 'prof' || unRole == 'parent')" class="circular ui icon button" @click="popupSuspendre(messageOption)"><i class="user icon"></i></button>
</div>

<div class="ui modal signup">
	<div class="content">
		{{>/responsables/form}}
	</div>
</div>
<div class="ui modal neweleve">
	<div class="content">
		{{>/eleves/form}}
	</div>
</div>
<div class="ui modal newprof">
	<div class="content">
		{{>/profs/form}}
	</div>
</div>
{{>/responsables/deletePopup}}
{{>/responsables/suspendrePopup}}

{{>/include/footer}}
<script>
function signup(){
	$('.ui.modal.signup')
	  .modal('show')
	;
};

function neweleve(){
	$('.ui.modal.neweleve')
	  .modal('show')
	;
};

function newprof(){
	$('.ui.modal.newprof')
	  .modal('show')
	;
};

$('#standard_calendar').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
});
</script>