{{>/include/header}}
<h1>{{libelle}}</h1>

<h2>type de cour : {{typeCour.libelle}} </h2>
<h3> date du cour : {{dateDebut}}</h3>
<a href="/planning"><button class="tiny ui black button"><i class="arrow white
			left icon"></i></button></a>
<h4> heure du cour : {{heureDebut}}</h4>
<h4>nombre de place : {{nbPlace}}</h4>




<h4>le(s) eleve est(sont) :</h4>

<div class="ui form">



	<select name="ajoutEleve" multiple="" class="ui fluid clearable search
		dropdown">
		<option value="">ajouter un eleve</option>
		{{#eleve}}
		<option value="{{id}}">{{nom}} {{prenom}} </option>
		{{/eleve}}
	</select>

	<div class="ui green button">Valider (add)</div>
</div>










<table class="ui table">
	<thead>
		<th>nom prenom </th>
		<th> action</th>
	</thead>
	<tbody>
		{{#incriptions}}
		<tr>
			<td>{{eleve.nom}} {{eleve.prenom}} </td>
			<td><a href="delete/inscrit/{{id}}/{{cour.id}}"><i class="delete icon black"
						style="visibility: visible;"></i></a></td>
		</tr>
		{{/incriptions}}
	</tbody>
</table>








{{/cour}}
{{/planning}}



{{#inscrit}}
<div class="ui red icon message" id="delete">
	<i class="trash icon"></i>
	<div class="content">
		<div class="header">
			{{title}}
		</div>
		<p>{{content}}</p>
		<p>
			{{#links}}
			<a class="ui red button" href="{{href}}">{{libelle}}</a>
			{{/links}}
		</p>
	</div>
</div>
{{/inscrit}}

{{>/include/footer}}



<script>
$('.ui.dropdown')
.dropdown()
;
</script>
