{{>/include/header}}


<table class="ui table">
<thead>
    <th>nom du cours</th>
    <th>professeurs</th>
    <th>type de cours</th>
    <th>dates</th>
    <th>heure début</th>
    <th>nombre de places</th>
    <th>nombre d'inscrits</th>
    <th>actions</th>
</thead>

<tbody>

{{#plannings}}
<tr>
{{#cour}}
<td> {{libelle}}</td>
<td> {{prof.nom}} {{prof.prenom}}</td>
<td>{{typeCour.libelle}}</td>
<td>{{#dateDebut}}{{.}}{{/dateDebut}}</td>
<td>{{#heureDebut}}{{.}}{{/heureDebut}}</td>
<td> {{nbPlace}}</td>
<td>{{incriptions.size}}</td>

{{/cour}}


<td>
<a href="./planning/{{id}}"><i class="file alternate outline black icon" ></i></a>



<a href="./planning/delete/{{id}}"><i class="delete   black icon" ></i></a>


</td>





</tr>
{{/plannings}}
{{#msg}}
		<div class="ui red icon message" id="delete">
		  <i class="trash icon"></i>
		  <div class="content">
		    <div class="header">
		      {{title}}
		    </div>
		    <p>{{content}}</p>
		    <p>
		    {{#links}}
		    	<a class="ui red button" href="./{{href}}">{{libelle}}</a>
		    {{/links}}
		    </p>
		  </div>
		</div>
	{{/msg}}
</tbody>

</table>

{{>/include/footer}}