{{>/include/header}}
<div class="ui calendar" id="inline_calendar"></div>

<form method="post" action="/planning/prof/{{#idProf}}{{.}}{{/idProf}}" id="form">
<input type="hidden" name="datePlanning" id="datePlanning">
</form>

{{#datePlanning}}{{.}}{{/datePlanning}}

{{#planning}}{{.}}{{/planning}}



{{>/include/footer}}
<script>
$('#inline_calendar')
.calendar({
	type: 'date',
	formatter: {
	      date:'YYYY-MM-dd',
	    },
	text: {
        days: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
        dayNamesShort: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
        dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
        months: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
        monthsShort: ['Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin', 'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'],
        today: 'Aujourd\'hui',
        now: 'Maintenant',
        am: 'AM',
        pm: 'PM',
        weekNo: 'Semaine'
      },
    onChange: function(date){
    	$("#datePlanning").val(date);
    	$("#form").submit();
    	
    }
	
	
	
	})
;

  
  
</script>

