{{> /include/header}}

	<div class="ui two item menu">
		<a href="./personnel" class="item">personnel</a>
		<a href="./find"class="item">nous trouver</a>
	</div>
<h1>Notre équipe</h1>

<div class="boxwrap">
    {{#profs}}
    <div class="boxprofil">
        <img class="imgbox" src="./images/prof/{{nom}}.jpg">
        <br>
        {{nom}} {{prenom}}
    </div>

    {{/profs}}
</div>


<div class="ui modal signup">
	<div class="content">
		{{> /signup}}
	</div>
</div>
<div class="ui modal login">
	<div class="content">
		{{> /login}}
	</div>
</div>

{{> /include/footer}}

