<!doctype html>
<html lang="fr">
<head>

    <meta charset="UTF-8">
    <base href="http://127.0.0.1:8080/e-music/">
    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="images/Emusic.jpg">

	<title>Emusic</title>
</head>
<body class="black">
<button class="ui black icon button" onclick="nav()" onmouseover="nav()"><i class="white angle right icon"></i></button>
<div id="app" class="ui container" v-cloak>

	<a href="./">
		<img class="logo" src="./images/Emusic.jpg">
	</a>
	
	<div class="ui three item menu">
		<a href="./personnel" class="item">personnel</a>
		<a href="./" class="item">accueil</a>
		<a href="./find"class="item">nous trouver</a>
	</div>
	
	<div class="black">
		<div class="ui sidebar inverted vertical menu" onmouseleave="nav()">
			{{#authUser}}
				<div class="item"><h1>{{login}}</h1></div>
				<a href="./cours/" class="item">Liste des cours</a>
				<a href="./planning/" class="item">Liste des planning</a>
				<a href="./parent/" class="item" v-if="authUser.authorities[0].authority=='ROLE_PARENT'||'ROLE_ENFANT'">Profil Utilisateur</a>
				<a href="./responsables/" class="item" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des membres</a>
				<a href="./factures/" class="item" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des factures</a>
				<a href="./paiements/" class="item" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des paiements</a>
			{{/authUser}}
			{{^authUser}}
				<a v-if="!authUser" class="item" onclick="signup()">Créer un compte parent</a>
				<a v-if="!authUser" class="item" onclick="login()">Connexion</a>
			{{/authUser}}
			{{#authUser}}

				<a href="./deco/" class="item">Déconnexion</a>

			{{/authUser}}
		</div>

	</div>
