<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="/css/style.css">
	<title>Emusic</title>
</head>
<body>
<div id="app" class="ui container" v-cloak>
	<div>
	{{#authUser}}
		<nav>
			<a href="/cours/" class="liennav">Liste des cours</a>
			<a href="/parent/" class="liennav" v-if="authUser.authorities[0].authority=='ROLE_PARENT' || authUser.authorities[0].authority=='ROLE_ENFANT'">Profil Utilisateur</a>
			<a href="/responsables/" class="liennav" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des membres</a>
			<a href="/factures/" class="liennav" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des factures</a>
			<a href="/paiements/" class="liennav" v-if="authUser.authorities[0].authority=='ROLE_ADMIN'">Liste des paiements</a>
		</nav>
	{{/authUser}}
	{{^authUser}}
		<div class="button" v-if="!authUser">
			<a href="/new/" class="ui red button">Créer un compte parent</a>
			<a href="/login" class="ui lightgrey button">Connexion</a>
		</div>
	{{/authUser}}
	</div>
