<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css" integrity="sha512-PwhgdrueUt7iVICnZMjYcbiLalCztrVfzUIYXekIK8hZu4DQP141GrKh6fUHmNERWi4bGdBXIZqtBZnsSzHEMg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="/e-music/css/style.css">

	<base href="http://127.0.0.1:8080/e-music/">
	<title>Emusic</title>
</head>
<body>
<div id="app" class="ui container" v-cloak>