{{> /include/header }}
<div v-if="(!authUser) || (authUser.authorities[0].authority=='ROLE_PARENT'||'ROLE_ENFANT')">
	<div class="ui two item menu">
		<a href="./personnel" class="item">Personnel</a>
		<a href="./find"class="item">Nous trouver</a>
	</div>
	
	<h1 onload="signup()">Bienvenue sur EMusic<span v-if="authUser">, {{#authResponsable.civilite}}{{.}}{{/authResponsable.civilite}} {{#authResponsable.nom}}{{.}}{{/authResponsable.nom}} {{#authEleve.prenom}}{{.}}{{/authEleve.prenom}}</span> !</h1>
	
	<div class="imgacccenter">
		<img src="./images/acceuil.jpg" class="img">
	</div>
	<div v-if="affichage==true">
		<div onload="signup()">
		</div>
	</div>
	<div class="ui modal signup">
		<div class="content">
			{{> /signup}}
		</div>
	</div>
	<div class="ui modal login">
		<div class="content">
			{{> /login}}
		</div>
	</div>
</div>
<div v-if="authUser.authorities[0].authority=='ROLE_PROF'">
	<h1>Bienvenue sur E-Music {{#authProf.prenom}}{{.}}{{/authProf.prenom}} {{#authProf.nom}}{{.}}{{/authProf.nom}}</h1>
	<div class="imgacccenter">
		<img src="./images/acceuilProf.jpg" class="img">
	</div>
</div>
{{> /include/footer }}
<script>
{{{signup}}}
{{{login}}}
</script>

