<h1 class="ui header white">Créer un compte parent</h1>
{{#responsable}}
<div class="ui segment black">

	<form method="post" class="ui form validForm" action="./new">
	<input type="hidden" name="id" value="{{id}}">
		<div>
			<div class="field">
				<label>*Login (nom d'utilisateur) :</label>

				<input type="text" required="required" name="login" value="{{#authUser.login}}{{.}}{{/authUser.login}}">
			</div>
			<div class="erreur">{{#erreurLogin}}{{.}}{{/erreurLogin}}</div>
			<div>
				<input type="radio" name="civilite" value="Mr" checked>
				<label>Mr</label>
				<input type="radio" name="civilite" value="Mme" checked>
				<label>Mme</label>
				<input type="radio" name="civilite" value="Mlle" checked>
				<label>Mlle</label>
			</div>
			<div class="field">

				<label>*Nom :</label>
				<input type="text" required="required" name="nom" value="{{#nom}}{{.}}{{/nom}}">
			</div>
			<div class="erreur">{{#erreurNom}}{{.}}{{/erreurNom}}</div>
			<div class="field">

				<label>*Prenom (Les noms composés doivent etre séparés par des -): </label>

				<input type="text" required="required" name="prenom" value="{{#prenom}}{{.}}{{/prenom}}">
			</div>
			<div class="erreur">{{#erreurPrenom}}{{.}}{{/erreurPrenom}}</div>
			<div class="field">

				<label>*Adresse :</label>
				<input type="text" required="required" name="adresse" value="{{#adresse}}{{.}}{{/adresse}}">
			</div>
			<div class="field">
				<label>*Ville (si vous habitez à Ifs, indiquez votre quotient familial) :</label>
				<input v-model="villeAction" type="text" required="required" name="ville" value="{{#ville}}{{.}}{{/ville}}">
			</div>
			<div class="field" v-if="villeAction=='ifs' || villeAction=='Ifs' || villeAction=='IFS'">
				<label>Quotient familial :</label>

				<input type="text" required="required" name="quotient_familial" value={{#quotient_familial}}{{.}}{{/quotient_familial}}>
			</div>
			<div class="field">
				<label>*Code postal :</label>
				<input type="text" required="required" name="code_postal" value="{{#code_postal}}{{.}}{{/code_postal}}">
			</div>
			<div class="erreur">{{#erreurCode}}{{.}}{{/erreurCode}}</div>
			<div class="field">

				<label>*Adresse courriel :</label>

				<input type="email" required="required" name="email" value="{{#email}}{{.}}{{/email}}">
			</div>
			<div class="erreur">{{#erreurEmail}}{{.}}{{/erreurEmail}}</div>
			<div class="field">

				<label>*Mot de passe (au minimum 8 caractères) :</label>

				<input type="password" required="required" name="password" value={{#authUser.password}}{{.}}{{/authUser.password}}>
			</div>
			<div class="erreur">{{#erreurPassword}}{{.}}{{/erreurPassword}}</div>
			<div class="field" >

				<label>*Numéro de téléphone :</label>

				<input type="text" required="required" name="tel1" value={{#tel1}}{{.}}{{/tel1}}>
			</div>
			<div class="erreur">{{#erreurTel}}{{.}}{{/erreurTel}}</div>
			<div class="field">
				<label>Numéro de téléphone (optionnel) :</label>
				<input type="text" name="tel2" value={{#tel2}}{{.}}{{/tel2}}>
			</div>
			<div class="erreur">{{#erreurTel}}{{.}}{{/erreurTel}}</div>
			<div class="field">
				<label>Numéro de téléphone (optionnel) :</label>
				<input type="text" name="tel3" value={{#tel3}}{{.}}{{/tel3}}>
			</div>
			<div class="erreur">{{#erreurTel}}{{.}}{{/erreurTel}}</div>
		</div>
		<button class="ui button" type="submit">Valider</button>
	</form>
</div>
{{/responsable}}
<script>
$(function(){
	$('.validForm')
	.form({
	  on: 'blur',
	  fields: {
		  email: {
		        identifier  : 'email',
		        rules: [
		          {
		            type   : 'email',
		            prompt : 'Veuillez entrer un email valide'
		          }
		        ]
		      },
		  login: {
		        identifier  : 'login',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un login valide'
		          }
		        ]
		      },
		  nom: {
		        identifier  : 'nom',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un nom valide'
		          }
		        ]
		      },
		  prenom: {
		        identifier  : 'prenom',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un prénom valide'
		          }
		        ]
		      },
		  adresse: {
		        identifier  : 'adresse',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer une adresse valide'
		          }
		        ]
		      },
		  ville: {
		        identifier  : 'ville',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer une ville valide'
		          }
		        ]
		      },
		  code_postal: {
		        identifier  : 'code_postal',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un code postal valide'
		          }
		        ]
		      },
		  password: {
		        identifier  : 'password',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un mot de passe valide'
		          }
		        ]
		      },
		  quotient_familial: {
		        identifier  : 'quotient_familial',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer une valeur valide'
		          }
		        ]
		      },
		  tel1: {
		        identifier  : 'tel1',
		        rules: [
		          {
		            type   : 'empty',
		            prompt : 'Veuillez entrer un numéro de téléphone valide'
		          }
		        ]
		      }
	  }});
});
</script>