{{> /include/header}}
<h1 class="ui header">Creer un compte parent</h1>
{{#responsable}}
<div class="ui segment">
	<form method="post" class="ui form" action="/new">
	<input type="hidden" name="id" value="{{id}}">
		<div>
			<div class="field">
				<label>Nom : </label>
				<input type="text" name="nom" value="{{#nom}}{{.}}{{/nom}}">
			</div>
			<div class="field">
				<label>Prenom : </label>
				<input type="text" name="prenom" value="{{#prenom}}{{.}}{{/prenom}}">
			</div>
			<div class="field">
				<label>Adresse : </label>
				<input type="text" name="adresse" value="{{#adresse}}{{.}}{{/adresse}}">
			</div>
			<div class="field">
				<label>Ville :</label>
				<input type="text" name="ville" value="{{#ville}}{{.}}{{/ville}}">
			</div>
			<div class="field">
				<label>Code postal :</label>
				<input type="number" name="code_postal" value="{{#code_postal}}{{.}}{{/code_postal}}">
			</div>
			<div class="field">
				<label>Adresse couriel</label>
				<input type="text" name="email" value="{{#email}}{{.}}{{/email}}">
			</div>
			<div class="field">
				<label>Mot de passe</label>
				<input type="password" name="password" value={{#password}}{{.}}{{/password}}>
			</div>
			<div class="field">
				<label>Quotient familiale</label>
				<input type="number" name="quotient_familial" value={{#quotient_familial}}{{.}}{{/quotient_familial}}>
			</div>
			<div class="field">
				<label>Numero de téléphone</label>
				<input type="text" name="tel1" value={{#tel1}}{{.}}{{/tel1}}>
			</div>
			<div class="field">
				<label>Numero de téléphone(optionnel)</label>
				<input type="text" name="tel2" value={{#tel2}}{{.}}{{/tel2}}>
			</div>
			<div class="field">
				<label>Numero de téléphone(optionnel)</label>
				<input type="text" name="tel3" value={{#tel3}}{{.}}{{/tel3}}>
			</div>
		</div>
		<button class="ui button" type="submit">Valider</button>
	</form>
</div>
{{/responsable}}
{{> /include/footer}}