{{>/include/header}}

<h1>Factures</h1>

<form class="ui form" method="post" action="./factures/datefacture">

	<div class="ui center grid">
			
		<div class="center aligned one wide column white"><b>Entre</b></div>
		<div class="four wide column">
			<div class="field">
				<div class="ui calendar" id="standard_calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input class="prompt" type="text" required="required" name="dateStart" placeholder="Rechercher date...">
						</div>
				</div>
			</div>
		</div>
		<div class="center aligned one wide column white"><b>et</b></div>
		<div class="four wide column">
			<div class="field">
				<div class="ui calendar" id="standard_calendar2">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input class="prompt" type="text" required="required" name="dateEnd" placeholder="Rechercher date...">
						</div>
				</div>
			</div>
		</div>
		
		<div class="three wide column">
			<div class="ui buttons">
				<a href="./factures" class="ui icon button"><i class="sync alternate icon"></i></a>
				<div class="or" data-text="ou"></div>
				<button class="ui button" type="submit">Rechercher</button>
			</div>
		</div>
		
	</div>
	
</form>
<br>
<form class="ui form" method="post" action="./factures/cours">
	<div class="ui center grid">
		<div class="center aligned one wide column white"></div>
		<div class="four wide column">
			<input class="prompt" type="text" name="libelle" placeholder="Rechercher cours..." required>
		</div>
		<div class="three wide column">
			<div class="ui buttons">
				<a href="./factures" class="ui icon button"><i class="sync alternate icon"></i></a>
				<div class="or" data-text="ou"></div>
				<button class="ui button" type="submit">Rechercher</button>
			</div>
		</div>
		
	</div>
</form>

<table class="ui celled table">
	<thead>
		<th>Date des factures</th>
		<th>Élèves</th>
		<th>Cours</th>
		<th>Profs</th>
		<th>Montant</th>
		<th></th>
	</thead>
	<tbody>
	{{#factures}}
	
		<tr>
			
			<td>{{dateFacture}}</td>
			{{#inscription}}
			<td>{{eleve.prenom}} {{eleve.nom}}</td>
			
			<td>{{planning.cour.libelle}} ({{planning.cour.typeCour.libelle}})</td>
			
			<td>{{planning.cour.prof.prenom}} {{planning.cour.prof.nom}}</td>
			{{/inscription}}
			<td>{{prix}}</td>
			
			<td>
				<a href="./factures/{{inscription.eleve.id}}/{{id}}" class="circular ui icon button"><i class="eye icon"></i></a>
				<a href="./paiements/new/{{id}}" class="circular ui icon button"><i class="euro sign icon"></i>
			</td>
			
		</tr>
		
	{{/factures}}
	</tbody>
</table>

{{>/include/footer}}
<script>
$('#standard_calendar').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
});
$('#standard_calendar2').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
});
</script>