<h1 class="ui header white" onclick="formatterDate()">Créer un compte élève</h1>
<div class="ui segment black">
	<form class="ui form" method="post" action="./eleves/edit">
		
		{{#eleve}}
		<div class="field">
			<label>*Nom :</label>
			<input type="text" name="nom" placeholder="Nom" v-bind:value="messageOption.nom" required>
		</div>
		<div class="erreur">{{#erreurNom}}{{.}}{{/erreurNom}}</div>
		
		<div class="field">
			<label>*Prénom :</label>
			<input type="text" name="prenom" placeholder="Prénom" v-bind:value="messageOption.prenom" required>
		</div>
		<div class="erreur">{{#erreurPrenom}}{{.}}{{/erreurPrenom}}</div>
		
		<div class="field">
			<label>*Date de naissance :</label>
			<div class="ui calendar" id="standard_calendar">
					<div class="ui input left icon">
						<i class="calendar icon"></i>
						<input type="text" required="required" id="dateNaissa" name="dateNaissa" placeholder="Date de naissance" v-bind:value="dateNaissEleve">
					</div>
			</div>
		</div>
		
		<input type="hidden" name="id" v-bind:value="messageOption.id">
		
		<input type="hidden" name="responsable" v-bind:value="idResponsable">
		
		<button class="ui button" type="submit">Valider</button>
		{{/eleve}}
		
	</form>
</div>