{{>/include/header}}

<form class="ui form" method="post" action="/eleves/new">
	
	{{#eleve}}
	<div class="field">
		<label>Prénom</label>
		<input type="text" name="prenom" placeholder="Prénom" value="{{#prenom}}{{.}}{{/prenom}}" required>
	</div>
	
	<div class="field">
		<label>Nom</label>
		<input type="text" name="nom" placeholder="Nom" value="{{#nom}}{{.}}{{/nom}}" required>
	</div>
	
	
	
	<input type="hidden" name="id" value="{{#id}}{{.}}{{/id}}">
	
	<button class="ui button" type="submit">Valider</button>
	{{/eleve}}
	
</form>

{{>/include/footer}}