{{>/include/header}}

<h1>Paiements</h1>

<form class="ui form" method="post" action="./paiements/datepaiement">
	
	<div class="ui center grid">
			
		<div class="center aligned one wide column white"><b>Entre</b></div>
		<div class="four wide column">
			<div class="field">
				<div class="ui calendar" id="standard_calendar">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input class="prompt" type="text" required="required" name="dateStart" placeholder="Rechercher date...">
						</div>
				</div>
			</div>
		</div>
		<div class="center aligned one wide column white"><b>et</b></div>
		<div class="four wide column">
			<div class="field">
				<div class="ui calendar" id="standard_calendar2">
						<div class="ui input left icon">
							<i class="calendar icon"></i>
							<input class="prompt" type="text" required="required" name="dateEnd" placeholder="Rechercher date...">
						</div>
				</div>
			</div>
		</div>
		
		<div class="three wide column">
			<div class="ui buttons">
				<a href="./paiements" class="ui icon button"><i class="sync alternate icon"></i></a>
				<div class="or" data-text="ou"></div>
				<button class="ui button" type="submit">Rechercher</button>
			</div>
		</div>
		
	</div>
	
</form>
<br>
<form class="ui form" method="post" action="./paiements/cours">
	<div class="ui center grid">
		<div class="center aligned one wide column white"></div>
		<div class="four wide column">
			<input class="prompt" type="text" name="libelle" placeholder="Rechercher cours..." required>
		</div>
		<div class="three wide column">
			<div class="ui buttons">
				<a href="./paiements" class="ui icon button"><i class="sync alternate icon"></i></a>
				<div class="or" data-text="ou"></div>
				<button class="ui button" type="submit">Rechercher</button>
			</div>
		</div>
		
	</div>
</form>

<table class="ui celled table">
	<thead>
		<th>Date des paiements</th>
		<th>Élèves</th>
		<th>Cours</th>
		<th>Montant</th>
	</thead>
	<tbody>
	{{#paiements}}
	
		<tr>
			
			<td>{{dateTransmission}}</td>
			{{#facture}}
			<td>{{inscription.eleve.prenom}} {{inscription.eleve.nom}}</td>
			<td>{{inscription.planning.cour.libelle}} ({{inscription.planning.cour.typeCour.libelle}})</td>
			{{/facture}}
			<td>{{prix}}</td>
			
		</tr>
		
	{{/paiements}}
	</tbody>
</table>

{{>/include/footer}}
<script>
$('#standard_calendar').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
});
$('#standard_calendar2').calendar({
	type:'date',
	formatter: {
		date:'YYYY-MM-DD'
		}
});
</script>